{% extends "layout/layout_base.html.twig" %}

{% block title %}Association de Protection Animale - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block content %}
    <section id="hero">
        <div class="container">
            <div class="hero-content">
                <h1 class="hero-title">Ouvrez votre coeur et votre maison à votre <strong>compagnon pour la vie. <img src="{{asset('/build/images/underline.svg')}}" alt="souligné"></strong>
                </h1>
                <div class="hero-text">Bienvenue sur notre site internet, vous y trouverez toutes nos loulous à l'adoption,, notre histoire, nos articles, nos conseils et de nombreux resignement sur les animaux.</div>
                <div class="hero-buttons">
                    <a href="#" class="btn btn-primary rounded"><img src="{{asset('/build/images/icon/track-cat.svg')}}" class="icon" alt="icon empreinte pattes animaux">Découvrir les animaux</a>
                    <a href="#" class="btn btn-primary rounded"><img src="{{asset('/build/images/icon/donate.svg')}}" class="icon" alt="icon don">Faire un don</a>
                    <a href="#" class="btn btn-primary rounded"><img src="{{asset('/build/images/icon/letter-contact.svg')}}" class="icon" alt="icon mail">Nous contacter</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="figures rounded">
            <img class="cat cat-1" src="{{asset('/build/images/cat_1.svg')}}" alt="Chat">
            <img class="cat cat-2" src="{{asset('/build/images/cat_2.svg')}}" alt="Chat">
            <div class="figures-body d-flex flex-row-wrap">
                <div class="figures-icon">
                    <img src="https://api.iconify.design/twemoji/cat-face.svg?width=48&height=48" alt="chat">
                </div>
                <div class="figures-content d-flex flex-column">
                    <h2 class="figures-title">L'adoption</h2>
                    <p class="figures-description">Vous souhaitez adopter un ou plusieurs chats de notre pensionnaires ? Ils sont nombreux à vous attendre.</p>
                </div>
            </div>
            <div class="figures-body d-flex flex-row-wrap">
                <div class="figures-icon">
                    <img src="https://api.iconify.design/fa6-solid/hand-holding-heart.svg?width=48&height=48" alt="chat">
                </div>
                <div class="figures-content d-flex flex-column">
                    <h2 class="figures-title">Don</h2>
                    <p class="figures-description">C'est grâce à votre générosité que l'on peut continuer d'exister</p>
                </div>
            </div>
            <div class="figures-body d-flex flex-row-wrap">
                <div class="figures-icon">
                    <img src="https://api.iconify.design/fa/paw.svg?width=48&height=48" alt="chat">
                </div>
                <div class="figures-content d-flex flex-column">
                    <h2 class="figures-title">L'adoption</h2>
                    <p class="figures-description">Vous pensez pouvoir accueillir un ou plusieurs chats ? Contactez nous !</p>
                </div>
            </div>
        </div>
        <section class="heading">
            <div class="heading-img">
                <img src="{{ asset('build/images/association.jpg') }}" alt="L'association">
            </div>
            <div class="heading-content">
                <div class="heading-title">4 pattes des poils et 1 coeur</div>
                <p>
                    4 Pattes des poils et 1 coeur  est 1 coeur est un refuge pour les chats et chatons abandonnés, maltraités, sans famille.<br/><br/>
                    Quam si explicavisset, non tam haesitaret. Tria genera bonorum; Quid igitur, inquit, eos responsuros putas? Sed quot homines, tot sententiae; Hoc est non dividere, sed frangere.<br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Praeclare hoc quidem. Hoc Hieronymus summum bonum esse dixit. Tum Quintus: Est plane, Piso, ut dicis, inquit. Cur id non ita fit?
                </p>
            </div>
        </section>
    </div>
    <section class="adoptables">
        <div class="container">
            <div class="w-5">
                <h2 class="heading-title">Animaux à l'adoption</h2>
                <p class="heading-text">Vous trouverez ci-dessous quelques-un de nos loulous à adopter</p>
            </div>
            <div class="swiper-container adoptables-slider">
                <div class="swiper-wrapper">
                    {% for pet in pets %}
                        <div class="swiper-slide" role="group" aria-roledescription="slide">
                            {% include "components/_card_pets.html.twig" with {name: pet.name, picture: pet.picture, gender: pet.sexe, content: pet.description, link: path('app_pets_show', {slug: pet.name|lower, id: pet.id})} %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-control">
                    <div class="swiper-button-prev">
                        <img src="{{ asset('build/images/icon/arrow-left.svg') }}" alt="Précédent" title="Précédent">
                    </div>
                    <div class="swiper-button-next">
                        <img src="{{ asset('build/images/icon/arrow-right.svg') }}" alt="Suivant" title="Suivant">
                    </div>
                </div>
            </div>
            {# <div class="adoptable-list">
                {% include "components/_card_pets.html.twig" %}
            </div> #}
        </div>
    </section>
    {% if not articles is same as([]) %}
    <section class="articles">
        <div class="container">
            <div class="w-5">
                <h2 class="heading-title">Actualités</h2>
                <p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Praeclare hoc quidem. Hoc Hieronymus summum bonum esse dixit.</p>
            </div>
            <div class="articles-list">
                {% for article in articles %}
                    <a href="{{ path('app_article_show', {slug: article.slug}) }}" class="article-item">{% include "components/_card_article.html.twig" with { title: article.title, summary: article.summary, date: article.createdAt } %}</a>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    {% if not testimonials is same as([]) %}
    <section id="testimonials">
        <div class="container">
            <div class="w-5">
                <h2 class="heading-title">Témoignages</h2>
                <p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Praeclare hoc quidem. Hoc Hieronymus summum bonum esse dixit.</p>
            </div>
            <div class="swiper-container testimonials-slider">
                <div class="swiper-wrapper">
                    {% for testimonial in testimonials %}
                        <div class="swiper-slide">
                            {% include "components/_testimonials.html.twig" with { name: testimonial.name, content: testimonial.content, note: testimonial.rating, anonyme: testimonial.anonyme } %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-custom-pagination"></div>
            </div>
        </div>
    </section>
    {% endif %}
    {# <div class="illustration">
        <img src="{{ asset('build/images/580b57fbd9996e24bc43bb8c.png') }}" alt="">
    </div> #}
{% endblock %}