{% extends 'layout/layout_admin.html.twig' %}

{% block title %}Liste de tous les partenaires - {{ parent() }}{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-content">
            <div class="card-title">Liste des partenaires</div>
            <div class="d-flex flex-fill justify-content-end mb-20">
                <a href="{{ path('admin_partner_new') }}" class="btn btn-small btn-primary">Nouveau partenaire</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Nom du représentant</th>
                            <th scope="col">Email</th>
                            <th scope="col">Téléphone</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for partner in partners %}    
                            <tr>
                                <td data-label="id">#{{ partner.id }}</td>
                                <td data-label="Thumbnail"><img src="{{ partner.picture ? partner.picture : asset(imageBasic) }}" alt="{{ partner.name }}"></td>
                                <td data-label="Nom">{{ partner.name }}</td>
                                <td data-label="Nom du représentant"><small class="status person {{ partner.representativeName ? '' : 'person-danger' }}"><i class='bx bxs-face person-avatar'></i>{{ partner.representativeName|default('Aucun représent') }}</small></td>
                                <td data-label="Email" {% if partner.representativeMail is empty %}class="text-primary"{% endif %}>{{ partner.representativeMail|default('Non définie') }}</td>
                                <td data-label="Téléphone" {% if partner.representativePhone is empty %}class="text-primary"{% endif %}>{{ partner.representativePhone|default('Non définie') }}</td>
                                <td data-label="Actions" class="table-option">
                                    <a href="{{ path('admin_pets_show', {id: partner.id}) }}" target="_blank" class="btn-actions btn-actions-icon tooltip" alt="Afficher"><span class="icon icon-show">Afficher</span></a>
                                    <a href="{{ path('admin_pets_edit', {id: partner.id}) }}" class="btn-actions tooltip" alt="Modifier"><span class="icon icon-edit">Modifier</span></a>
                                    <button class="open-button btn-actions tooltip" alt="Supprimer" data-modal="#dialog-{{ partner.id }}"><span class="icon icon-delete">Supprimer</span></button>
                                    {% include "components/_modal_delete.html.twig" with {id: partner.id, path: path('admin_pets_delete', {id: partner.id})} %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-row-wrap mt-20">
                <div class="table-status">Affiche {{ partners.paginatorOptions.defaultLimit }} sur {{ partners.getTotalItemCount }} entrées</div>
                <div class="navigation">
                    {{ knp_pagination_render(partners) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
