<div class="menu">
    <nav class="navbar-top">
        <div class="container">
            <div class="navbar-top-content">
                <a href="{{ path('admin_dashboard') }}" class="navbar-logo">
                    <img src="{{ asset('/build/images/logo.svg') }}" alt="4 Pattes Des Poils Et 1 Coeurs">
                </a>
                <div id="nav-search" class="navbar-search">
                    <i class="fa-solid fa-magnifying-glass mr-5"></i>
                    <input type="text" name="search" placeholder="Rechercher n'importe quoi...">
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <div class="icon-menu menu-burger"><img src="{{ asset('build/images/icon/menu-outline.svg') }}" alt="menu burger"><span>Afficher le menu</span></div>
                    <a href="{{ path('app_home') }}" class="icon-menu back-website"><img src="{{ asset('build/images/icon/storefront-outline.svg') }}" alt="Revenir sur le site"><span>Revenir sur le site</span></a>
                    <a  href="{{ path('admin_logout') }}" class="icon-menu logout"><img src="{{ asset('build/images/icon/exit.svg') }}" alt="menu burger"><span>Déconnexion</span></a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar-bottom">
        <div class="container">
            <ul class="nav-list-navigation">
                <li class="nav-item">
                    <a href="{{ path('admin_dashboard') }}">
                        <i class='bx bxs-dashboard nav-icon'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_article') }}">
                        <i class="fa-regular fa-newspaper"></i>
                        <span>Articles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_category') }}">
                        <i class="fa-regular fa-clipboard"></i>
                        <span>Catégories</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fa-regular fa-clipboard nav-icon"></i>
                        <span>Adoptions</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_partner') }}">
                        <i class="fa-regular fa-clipboard nav-icon"></i>
                        <span>Partenaires</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_pets') }}">
                        <i class="fa-solid fa-paw nav-icon"></i>
                        <span>Pets</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_membership') }}">
                        <i class='bx bx-user-pin nav-icon'></i>
                        <span>Membership</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('admin_testimonials') }}">
                        <i class="fa-solid fa-star"></i>
                        <span>Témoignage</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>