{% extends 'layout/layout_admin.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block content %}
<div class="card mb-20">
    <div class="card-content">
        <h1 class="card-title mb-5">Ajouter une nouvelle catégorie</h1>
        <p class="text-small mb-20">Ce nom est utilisé sur les articles</p>
        {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-primary">{{ app.request.attributes.get('_route') == "admin_category" ? 'Ajouter une nouvelle catégorie' : 'Modifier la catégorie' }}</button>
        {{ form_end(form) }}
    </div>
</div>
<div class="card">
    <div class="card-content">
        <h2 class="card-title mb-5">Liste des catégories</h2>
        <p class="text-danger text-small mb-20">Attention si une catégorie est supprimé elle supprime aussi les articles correspondent à la catégorie !</p>
        <div class="table-responsive">            
            <table class="table cat">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for categorie in categories %}
                        <tr>
                            <td data-label="Id">#{{ categorie.id }}</td>
                            <td data-label="Nom">{{ categorie.name }}</td>
                            <td data-label="Actions" class="table-option">
                                <a href="{{ path('admin_category_edit', {id: categorie.id}) }}" class="btn-actions btn-actions-icon tooltip" alt="Modifier"><span class="icon icon-edit">Modifier</span></a>
                                <a data-modal="#dialog-{{ categorie.id }}" class="btn-actions btn-actions-icon tooltip open-button" alt="Supprimer"><span class="icon icon-delete">Supprimer</span></a>
                                {% include "components/_modal_delete.html.twig" with {id: categorie.id, path: path('admin_category_delete', {id: categorie.id})} %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
