<div class="card-pets">
    <div class="card-pets-thumbnail">
        <a href="#">
            <img src="https://www.la-spa.fr/app/assets-spa/uploads/animals/58316/zebreau-58316-6342a807f32d0.jpg" alt="{{ name }}">
        </a>
    </div>
    <div class="card-pets-content">
        <div class="card-pets-header">
            <div class="card-pets-infos">
                <img src="{{ asset('build/images/icon/cat.svg') }}" alt="Icon chat">
                <div class="card-pets-infos-item">
                    <small class="card-pets-infos-title">Nom</small>
                    <p class="card-pets-infos-name">{{ name }}</p>
                </div>
            </div>
            <div class="card-pets-infos">
                <img src="{{ asset('build/images/icon/gender.svg') }}" alt="icon sexe du chat">
                <div class="card-pets-infos-item">
                    <small class="card-pets-infos-title">Sexe</small>
                    <p class="card-pets-infos-name">{{ gender ? 'Male' : 'Femelle' }}</p>
                </div>
            </div>
        </div>
        <div class="card-pets-body mb-10">
            <p>{{ content|length > 133 ? content|slice(0, 133)~'...' : content}}</p>
        </div>
        <div class="card-pets-footer">
            <a href="#" class="pets-link">Lire la suite <img src="{{ asset('/build/images/underline.svg') }}" alt="souligné"></a>
        </div>
    </div>
</div>