{% extends 'layout/layout_admin.html.twig' %}

{% block title %}Liste des chats - {{ parent() }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-content">
        <h1 class="card-title mb-10">Liste des chats et chatons</h1>
        <div class="d-flex flex-fill justify-content-end mb-20">
            <a href="{{ path('admin_pets_new') }}" class="btn btn-small btn-primary">Ajouter un chat</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Thumbnail</th>
                        <th scope="col">Nom</th>
                        <th scope="col">N°Registre</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date de création</th>
                        <th scope="col">Mise à jour</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}    
                        <tr>
                            <td data-label="id">#{{ pet.id }}</td>
                            <td data-label="Thumbnail"><img src="https://www.dwinawan.com/blog/thumb_article36.jpg" alt=""></td>
                            <td data-label="Nom">{{ pet.name }}</td>
                            <td data-label="N°Registre"><span class="registry {{ pet.registryNumber ?? 'no-registry' }}">{{ pet.registryNumber ? pet.registryNumber : 'Pas de registre' }}</span></td>
                            <td data-label="Status"><span class="badge badge-adoption">A l'adoption</span></td>
                            <td data-label="Date de création">{{ pet.createdAt|date('d M. Y') }}</td>
                            <td data-label="Mise à jour">{{ pet.updatedAt|ago(locale='fr') }}</td>
                            <td data-label="Actions" class="table-option">
                                <a href="#show" class="btn-actions btn-actions-icon tooltip" alt="Afficher"><span class="icon icon-show">Afficher</span></a>
                                <a href="{{ path('admin_pets_edit', {id: pet.id}) }}" class="btn-actions tooltip" alt="Modifier"><span class="icon icon-edit">Modifier</span></a>
                                <button class="open-button btn-actions tooltip" alt="Supprimer" data-modal="#dialog-{{ pet.id }}"><span class="icon icon-delete">Supprimer</span></button>
                                {% include "components/_modal_delete.html.twig" with {id: pet.id, path: path('admin_pets_delete', {id: pet.id})} %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex align-items-center justify-content-between flex-row-wrap mt-20">
            <div class="table-status">Affiche {{ pets.paginatorOptions.defaultLimit }} sur {{ pets.getTotalItemCount }} entrées</div>
            <div class="navigation">
                {{ knp_pagination_render(pets) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
