{% extends "layout/layout_admin.html.twig" %}

{% block title %} {{ parent() }} - Nouveau chat et chatons {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h1 class="card-title mb-20">Ajouter un chat(on)</h1>
            {{ form_start(form) }}
                <div class="form-group">
                    <h2>Informations générales</h2>
                    <div class="form-row">
                        {{ form_row(form.name) }}
                        {{ form_row(form.registryNumber) }}
                        {{ form_row(form.age) }}
                        {{ form_row(form.arrivedAtRefuge) }}
                    </div>
                </div>
                <div class="form-group">
                    <h2>Informations relatives</h2>
                    <div class="form-meta">
                        <div class="form-fieldset label-hidden" data-label="Sexe">
                            {{ form_row(form.sexe) }}
                        </div>
                        <div class="form-fieldset" data-label="Santé">
                            {{ form_row(form.isVaccinated) }}
                            {{ form_row(form.isSterilized) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h2>Compatibilité</h2>
                    <div class="form-meta">
                        {{ form_row(form.isAffinityDog) }}
                        {{ form_row(form.isAffinityCat) }}
                        {{ form_row(form.isAffinityChildren) }}
                    </div>
                </div>
                <div class="form-group">
                    <h2>Contenus</h2>
                    {{ form_row(form.thumbnail) }}
                    {{ form_row(form.description) }}
                </div>
                {{ form_rest(form) }}


                <div class="d-flex align-items-center">
                    <button class="btn btn-small btn-primary mr-10">{{ app.request.attributes.get('_route') == "admin_pets_new" ? 'Ajouter le chat(on)' : 'Modifier le chat(on)' }}</button>
                    <a href="{{ path('admin_pets') }}" class="btn btn-small btn-border">Retour</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}