{% extends "layout/layout_admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profilePets') }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mb-20">
        <div class="card-content">
            <div class="d-flex align-items-center justify-content-between flex-row-wrap mb-20 gap-10">
                <a href="{{ path('admin_pets') }}" class="btn btn-bold btn-small">Retour</a>
                <div class="d-flex align-items justify-content-end gap-10">
                    <a href="{{ path('app_pets_show', {slug: pet.name|lower, id: pet.id}) }}" target="_blank" class="btn btn-small btn-bold">Public view</a>
                    <a href="{{ path('admin_pets_edit', {id: pet.id}) }}" class="btn btn-primary btn-small">Modifier {{ pet.name }}</a>
                </div>
            </div>
            <h1 class="passport-title mb-20">Information générale : {{ pet.name }}</h1>
            <div class="passport">
                <div class="passport-picture">
                    <img src="{{ pet.picture ? pet.picture : asset(imageBasic) }}" alt="{{ pet.name }}">
                    <strong>{{ pet.name }}</strong>
                </div>
                <div class="passport-content">
                    <ul>
                        <li class="registy">N° Registre:<span>{{ pet.registryNumber ? pet.registryNumber : 'Pas de registre' }}</span></li>
                        <li>Nom:<span>{{ pet.name }}</span></li>
                        <li>Age:<span>{{ pet.age }}</span></li>
                        <li>Arrivé au refuge:<span>{{ pet.arrivedAtRefuge|date('d/m/Y') }}</span></li>
                        <li>Sexe:<span>{{ pet.sexe ? 'Male' : 'Femelle' }}</span></li>
                        <li>Vacciné :<span>{{ pet.isVaccinated ? 'Oui' : 'Non' }}</span></li>
                        <li>Stérilisé:<span>{{ pet.isSterilized ? 'Oui' : 'Non' }}</span></li>
                        {# <li >Mise à jour: <span>{{ pet.updatedAt|ago(locale='fr') }}</span></li> #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-20">
        <div class="card-content">
            <h2 class="passport-title">Description</h2>
            <p class="passport-text">{{ (pet.description|length > 0) ? pet.description : 'Pas de description pour l\'instant' }}</p>
        </div>
    </div>
    <div class="card mb-20">
        <div class="card-content">
            <h2 class="passport-title">Compatibilité</h2>
            <div class="compatibility">
                <figure>
                    <img class="compatibility-item" src="{{ asset('build/images/icon/'~ (pet.isAffinityDog ? 'compatibility_dogs.svg' : 'compatibility_nodogs.svg')) }}" alt="">
                    <figcaption>Chiens</figcaption>
                </figure>
                <figure>
                    <img class="compatibility-item" src="{{ asset('build/images/icon/'~ (pet.isAffinityCat ? 'compatibility_cats.svg' : 'compatibility_nocats.svg')) }}" alt="">
                    <figcaption>Chats</figcaption>
                </figure>
                <figure>
                    <img class="compatibility-item" src="{{ asset('build/images/icon/'~ (pet.isAffinityChildren ? 'compatibility_children.svg' : 'compatibility_nochildren.svg')) }}" alt="">
                    <figcaption>Enfants</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
{% endblock %}