{% extends 'base.html.twig' %}

{% block title %}Témoignages | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('testimonials') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('testimonials') }}
{% endblock %}

{% block body %}
    <div class="container my-10">
        <div class="w-5">
            <h1 class="heading-title">Témoignages</h1>
            <p class="heading-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Praeclare hoc quidem. Hoc Hieronymus summum bonum esse dixit.</p>
        </div>
        <div class="broadly">
            <div class="broadly-testimonials">
                {% for testimonial in testimonials %}
                    {% include "components/_testimonials.html.twig" with { name: testimonial.name, content: testimonial.content, note: testimonial.rating} %}
                {% endfor %}
                <div class="navigation">
                    {{ knp_pagination_render(testimonials) }}
                </div>
            </div>
            <div class="block w-4 rounded">
                <h2 class="title-strong">Poster un témoignage</h2>
                {{ form_start(form) }}
                    <div class="stars">
                        <i class="bx bxs-star" data-value="1"></i>
                        <i class="bx bxs-star" data-value="2"></i>
                        <i class="bx bxs-star" data-value="3"></i>
                        <i class="bx bxs-star" data-value="4"></i>
                        <i class="bx bxs-star" data-value="5"></i>
                    </div>
                    {{ form_rest(form) }}
                    <button class="btn btn-primary rounded-10"><i class='bx bx-paper-plane mr-5'></i>Je témoignage</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
