{% extends 'layout/layout_admin.html.twig' %}

{% block title %}{{parent()}} - Témoignages{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h1 class="card-title mb-20">La liste des avis</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Note</th>
                            <th scope="col">Message</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for testimonial in testimonials %}
                            <tr>
                                <th data-label="Id" scope="row">{{ testimonial.id }}</th>
                                <td data-label="Nom">{{ testimonial.name }}</td>
                                <td data-label="Email">{{ testimonial.email }}</td>
                                <td data-label="Note"><img src="{{ asset("build/images/stars/stars-"~ testimonial.rating ~".svg") }}" alt="Noté {{ testimonial.rating }} sur 5 étoiles" class="testimonials-rating"></td>
                                <td data-label="Message">{{ testimonial.content | slice(0, 50) ~ '...' }}</td>
                                <td data-label="Status"><small class="status">Non Validé</small></td>
                                <td data-label="Actions" class="table-option"><a href="{{ path('admin_testimonials_delete', {id: testimonial.id}) }}"class="btn-actions btn-actions-icon tooltip" alt="Supprimer"><span class="icon icon-delete">Supprimer</span></a></td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-end mt-20">
                <div class="navigation">
                    {{ knp_pagination_render(testimonials) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
